<% content_for :sstate, "inactive"%>
<% content_for :rstate, "active"%>

<%= button_to "Confirm", method: :post,action: :create, id: @roomNum%>
        <p>
        <%= link_to "Back", {controller: "offers", action: "index"}, id: "fake_button" %>
        </p>

