 <% content_for :scripts do %>
<script type="text/javascript">
$(document).ready(function() {
	$('img').mapster({
	});
});
</script>     
 <% end %>

<map name="shapes_Map">
    <area shape="rect" group="rectangle" alt="" href="#"coords="519,466,608,528" />
    <area shape="rect" group="rectangle" alt="" href="#" coords=758,463,848,526" />
    <area shape="rect" group="rectangle" alt="" href="#" coords="423,640,509,712" />
    </map>
    <p>
    <img src=<%= image_path("floor1.jpg") %> width="600px" border="0" alt="" usemap="#shapes_Map" align= "middle">
    </p>

