 <% content_for :scripts do %>
<script type="text/javascript">
$(document).ready(function() {
	$('img').mapster({
	});
});
</script>     
 <% end %>

<map name="shapes_Map">
    <area shape="rect" group="rectangle" alt="" href="#"coords="352,359,440,422" />
    <area shape="rect" group="rectangle" alt="" href="#" coords="590,359,684,423" />
    <area shape="rect" group="rectangle" alt="" href="#" coords="253,534,342,605" />
    </map>
<map name="shapes_Map2">
    <area shape="rect" group="rectangle" alt="" href="#"coords="681,427,793,502" />
    <area shape="rect" group="rectangle" alt="" href="#" coords="297,618,409,693" />
</map>
<div class="container">
    <div class="fake_img">
        <img src=<%= image_path("floor1.jpg") %> height="500px" border="0" alt="" usemap="#shapes_Map">
    </div>
    <div class="fake_img">
        <img src=<%= image_path("floor2.jpg") %> height="500px" border="0" alt="" usemap="#shapes_Map2">
    </div>
</div>

