<table>
    <tr>
        <th>Requester</th>
        <th>Room</th>
    </tr>

    <% @requests.each do |request| %>
        <tr>
            <td><%= request.requester %></td>
            <td><%= request.room %></td>
            <td><%= link_to 'Remove', request_path(request),
                method: :delete %></td>
        </tr>
    <% end %>
</table>
<%= link_to 'New request', new_request_path %>

