<% content_for :title, "Schedule" %>
<% content_for :sstate, "active"%>
<% content_for :rstate, "inactive"%>
<p>
<%= link_to "Join the Queue", {controller: "requests", action: "new"}, id: "fake_button" %>
</p>
<p>
<table>
    <tr>
        <th>Number</th>
        <th>Name</th>
    </tr>
    <% i=1 %>
    <% @requests.each do |request| %>
        <tr>
            <td><%= i %></td>
            <td><%= request.requester %></td>
        </tr>
        <%i=i+1%>
    <% end %>
</table>
</p>

